Babel==2.5.1
BabelDjango==0.2.2
Django==1.11.5
django-filer==1.2.8
django-mptt==0.8.7
django-polymorphic==1.0.2
django-prices==0.6.2
django-versatileimagefield==1.7.1
easy-thumbnails==2.4.1
olefile==0.44
pendulum==1.2.5
Pillow==4.0.0
prices==0.5.9
psycopg2==2.7.3.1
python-dateutil==2.6.1
pytz==2017.2
pytzdata==2017.2.2
satchless==1.1.3
six==1.11.0
text-unidecode==1.0
tzlocal==1.4
Unidecode==0.4.21
