<!--Template to display product info-->
{% extends "base.html" %}

{% load thumbnail %}
{% load like_tags %}

{% block content %}
    <div class="container">
        <div class="row">
            <article class="product-detail">
                <section class="col-sm-12 col-md-5 col-md-push-1">
                    <figure>
                        <img class="img-responsive full-width" src="{% thumbnail object.image 460x690 crop %}" alt="">
                    </figure>
                </section>
                <section class="col-sm-12 col-md-4 col-md-push-2">

                    <hgroup class="product-detail-head">
                        <h1>{{ object.name }}</h1>
                        <h4 class="product-detail-head__price">${{ object.price|floatformat }}</h4>
                    </hgroup>

                    <p class="product-detail__desc">{{ object.content }}</p>


                    <!--Add to cart form-->
                    {% include "add_to_cart_form.html" %}

                </section>
            </article>
        </div>
        <div class="row">
            {% likes_widget request.user object %}
        </div>
    </div>
{% endblock %}