{% extends "admin/change_form.html" %}
{% load i18n admin_urls %}
{% block object-tools-items %}
    <li>
        <a href="{% url opts|admin_urlname:'history' original.pk|admin_urlquote %}" class="historylink">{% trans "History" %}</a>
    </li>
    {% if has_absolute_url %}
        <li>
            <a href="{% url 'admin:view_on_site' content_type_id original.pk %}" class="viewsitelink">{% trans "View on site" %}</a>
        </li>
    {% endif %}
{% endblock %}
{% block after_field_sets %}
    <fieldset class="module aligned ">
        {% for attribute_field in adminform.form.iter_attribute_fields %}
            {% if attribute_field.errors %}
                <ul class="errorlist">
                    {% for error in attribute_field.errors %}
                       <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
            <div class="form-row">
                <div>
                    <label class="required" for="{{ attribute_field.id }}">
                        {{ attribute_field.label }}
                    </label>
                    {{ attribute_field }}
                </div>
            </div>
        {% endfor %}
    </fieldset>
{% endblock %}