{% extends "base.html" %}
{% load i18n %}
{% load gross from prices_i18n %}
{% block content %}
    {% if not is_visible %}
        <div class="alert alert-warning" role="alert">
            {% blocktrans trimmed with date=product.available_on|date context "Product details text" %}
                <strong>Warning!</strong>You are previewing a product that will become visible on <strong>{{ date }}</strong>.
            {% endblocktrans %}
        </div>
    {% endif %}
    <div class="container">
        <div class="col-md-6 col-12 product__info">

            <h1 class="product__info__name">
                {{ product }}
            </h1>
            {% for cat in product.categories.all %}
                <a href="{{ cat.get_absolute_url }}">{{ cat }}</a>
            {% endfor %}

            {% if user.is_staff %}
                <p>
                    <a href="{% url 'admin:product_product_change' product.id %}">
                    {% trans "Edit in dashboard" context "Product details link text" %}
                    </a>
                </p>
            {% endif %}

            <div class="product__info__description">
                <h3>{% trans "Description" context "Product details title" %}</h3>
                <hr>
                {{ product.description }}
            </div>
            <hr>
            <h2>Attributes:</h2>
            <table>
                {% for attribute, value in product_attributes.items %}
                <tr>
                    <td>{{ attribute }}:</td>
                    <td>
                        <strong>&nbsp;{{ value }}</strong>
                    </td>
                </tr>
                {% endfor %}
            </table>
            <h2>Variants:</h2>
            <form action="" method="get">
                {% for var in product.variants.all %}
                    {% for attr in var.get_attributes %}
                        <input class="category-checkbox" id="category-check-{{ var.id }}"
                               type="radio" name="variants" value="{{ var.id }}">&nbsp;
                        <span>{{ attr }}</span>&nbsp;
                    {% endfor %}
                {% endfor %}
                <button type="submit" class="btn btn-success">Checkout</button>
            </form>
            <br>
            <a href="{% url 'product:category' path='clothes' category_id=1 %}">Go</a>
        </div>
    </div>

{% endblock content %}