{% extends "base.html" %}
{% load i18n %}
{% load gross from prices_i18n %}
{% block content %}
    {% if not is_visible %}
        <div class="alert alert-warning" role="alert">
            {% blocktrans trimmed with date=product.available_on|date context "Product details text" %}
                <strong>Warning!</strong>You are previewing a product that will become visible on <strong>{{ date }}</strong>.
            {% endblocktrans %}
        </div>
    {% endif %}
    <div class="container">
        <div class="col-md-6 col-12 product__info">

            <h1 class="product__info__name">
                {{ product }}
            </h1>

            {% if user.is_staff %}
                <p>
                    <a href="admin_url">
                    {% trans "Edit in dashboard" context "Product details link text" %}
                    </a>
                </p>
            {% endif %}

            <div class="product__info__description">
                <h3>{% trans "Description" context "Product details title" %}</h3>
                <hr>
                {{ product.description }}
            </div>
            <hr>
            <h2>Attributes:</h2>
            <table>
                {% for attribute, value in product_attributes.items %}
                <tr>
                    <td>{{ attribute }}:</td>
                    <td>
                        <strong>&nbsp;{{ value }}</strong>
                    </td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
    <a href="{% url 'product:category' path='clothes' category_id=1 %}">Go</a>
{% endblock content %}