{% extends "base.html" %}
{% load thumbnail %}

{% block content %}
    <div class="container">

        <div class="row">
            <div class="col-sm-12">
                <div class="page-header">
                    <h2>Checkout</h2>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12 col-md-6">
                <form action="{{ request.path }}" method="post" novalidate>
                    {% csrf_token %}
                    <legend>Shipping Details</legend>
                    {% for var in addresses %}
                        <input class="category-checkbox"
                               id="category-check-{{ var.id }}"
                               type="radio"
                               name="address_id"
                               value="{{ var.id }}"
                               required="false">&nbsp;
                        <span>{{ var }}</span>&nbsp;
                        <br>
                    {% endfor %}
                    <hr>
                    <div class="order_form">
                        {{ customer_order_form.as_p }}
                    </div>
                    <hr>
                    <div class="shipping_address">
                        {{ shipping_address_form.as_p }}
                    </div>
                    <button type="submit" class="btn btn-primary btn-lg full-width">Place my order</button>
                </form>
            </div>
            <div class="col-sm-12 col-md-6 ">
                <div class="well">
                    <legend>Order Review</legend>
                    {% for cart_item in cart.items.all %}
                        <div class="media">
                            <div class="media-left">
                                <a href="{% url 'products:detail' cart_item.product.slug %}">
                                    <img src="{% thumbnail cart_item.product.image 250x250 crop %}">
                                </a>
                            </div>
                            <div class="media-body text-right">
                                <h5 class="media-heading">{{ cart_item.product.name }}</h5>
                                <strong>Quantity:</strong> {{ cart_item.quantity }} <br/>
                                <strong>Total Price:</strong> {{ cart_item.total_price|floatformat }}

                            </div>
                        </div>
                    {% endfor %}
                    <hr/>
                    <p class="text-right"><strong>Subtotal:</strong> {{ cart.price_subtotal|floatformat }}</p>
                    <hr/>
                </div>
            </div>
        </div>

    </div>
{% endblock %}